.gitattributes text eol=lf

*.cpp linguist-language=C++
*.h linguist-language=C++
*.dfm linguist-language=C++
*.bas linguist-language=QBasic

*.md linguist-documentation

* text=auto

*.py text eol=lf
*.pas text eol=lf
*.bas text eol=lf

*.jpg -text
*.png -text
